body {
    overflow: hidden;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);

}

h1 {
    display: inline-block;
    font-size: 6rem;

    transition: opacity 0.5s linear;
}