.content {
    --content-width: 0;
    --content-height: 0;

    position: absolute;
    min-width: 50%;
    min-height: 50%;
    transition: left 0.5s linear, right 0.5s linear, bottom 0.5s linear;
}

#david-content {
    min-height: 100%;
    top: 0;
    left: calc(var(--content-width) * -1);
}
#david-content.active {
    left: calc((var(--body-width) - var(--content-width))/ 2);
}

#art-content {
    bottom: calc(var(--body-height) * -1);
    left: calc((var(--body-width) - var(--content-width)) / 2);

}
#art-content.active {
    bottom: calc(var(--body-height) - var(--content-height) - 96px)
}

#design-content {
    min-height: 100%;
    top: 0;
    right: calc(var(--content-width) * -1);
}
#design-content.active {
    right: calc((var(--body-width) - var(--content-width))/ 2);
}

/* Design */
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.content > :first-child {
    text-align: center;
}

.exit {
    max-width: fit-content;
    border-radius: 16px;
    user-select: none;
}
#david-content .exit {
    align-self: flex-start;
    margin-top: auto;
}
#art-content .exit {
    align-self: center;
    margin-top: auto;
}
#design-content .exit {
    align-self: flex-end;
    margin-top: auto;
}