.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40;
  font-size: 40px !important;
  transition: color 0.5s linear;
  cursor: pointer;
}

.material-symbols-outlined:hover {
    color: orangered;
}