.heading-cont {
    --heading-width: 0;
    --heading-height: 0;

    position: absolute;
    top: calc(50% - var(--heading-height) / 2);
    left: calc(50% - var(--heading-width) / 2);
    z-index: 10;
    display: flex;

    user-select: none;
}

.heading-cont > h1 {
    transition: opacity 0.5s linear;
}
.hidden-links > h1{
    position: absolute;
    top: var(--link-top);
    left: var(--link-left);
 
    cursor: default;
    user-select: none;
    
    opacity: 0%;
    transition: opacity 0.5s linear, top 0.5s linear, left 0.5s linear, right 0.5s linear, color 0.5s linear;
}
.hidden-links > h1.active-heading:nth-child(1) {
    left: calc(var(--body-width) - var(--heading-part-width) - 32px);
}
.hidden-links > h1.active-heading:nth-child(2) {
    left: calc((var(--body-width) - var(--heading-part-width)) / 2);
    top: 32px;
}
.hidden-links > h1.active-heading:nth-child(3) {
    left: 32px;
}

.event-handle-divs > div {
    position: absolute;
}